link(rel="stylesheet", href="./css/header.css")
.header
  .logo
    a(href="/dashboard")
      img(src="./images/logo.png", alt="logo")
  .searchAndProfile
    .search
    .profile
      img(src= avatarUrl, alt="avatar")
      .arrow
      .profile-modal
        .section.profile-section
          .avatar
            img(src= avatarUrl, alt="avatar")
          .name
            .display_name= displayName
            .username= username
        .section
          div add story
          div your stories
        .section
          div help
          div sign out