link(rel="stylesheet", href="./css/normalize.css")
link(rel="stylesheet", href="./css/header.css")
script(src="./js/header.js")
.header
  #logo
    svg&attributes({width:21, height:26, style:{border:"1px solid", "background-color": 'black'}})
      text&attributes({y:24, style:{"font-family": 'sans-serif', "font-size": '1.9em', "font-weight": 600, fill: 'white'}}) E
    svg&attributes({width:103, height:26})
      text&attributes({y:25.72, x:2, style:{"font-size": "1.48em", "font-weight": 700, color: "white", "font-family": "'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"}}) XPRESS
  .searchAndProfile
    .search
    .profile
      img#profile(src= avatar_url, alt="avatar")
      .arrow
      .profile-modal.hidden
        .section.profile-section
          .avatar
            img(src= avatar_url, alt="avatar")
          .name
            .display_name= display_name
            .username= id
        .section
          div add story
          div your stories
        .section
          div help
          div sign out

    //-           <svg ">
    //-   <text
    //-     y="25.5"
    //-     style="
    //-       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    //-         sans-serif;
    //-       font-size: 1.48em;
    //-       font-weight: 700;
    //-       color: white;
    //-     "
    //-   >
    //-     
    //-   </text>
    //- </svg>