.profile
  img#profile.circular-img.inherit(src= avatar_url, alt="avatar")
  .arrow
  .profile-modal.hidden
    .section#profileSection
      .avatar
        img.circular-img.inherit(src= avatar_url, alt="avatar")
      .name
        .display_name= display_name
        a#username.underline(href="/profile/"+id)= id
    .section
      div 
        a(href="/newStory") Write a story
      div 
        a(href="/userStories") Stories
    .section
      div 
        #signOut Sign out
      //- div help