doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./css/normalize.css')
  link(rel='stylesheet' href='./css/signIn.css')
  link(rel='stylesheet' href='./css/logo.css')
  link(rel="stylesheet", href="./css/headerLayout.css")
  link(rel='stylesheet' href='./css/mainPage.css')
  script(src='/js/signIn.js')
  title Express
.header
  include ./includes/logo.pug
  .links.column
    .signIn#signIn.buttonLink Sign in
    .signIn.buttonLink 
      a.btnAnchor(href='/authenticate') Sign up
    include ./includes/signInPrompt.pug 
.advertise.column
  div Get smarter about what matters to you.
