doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./css/normalize.css')
  link(rel='stylesheet' href='./css/signIn.css')
  link(rel='stylesheet' href='./css/mainPage.css')
  link(rel='stylesheet' href='./css/logo.css')
  script(src='/js/mainPage.js')
  title Express
.header
  include ./includes/logo.pug
  .links
    .signIn#signIn Sign in
    .signIn 
      a.btnAnchor(href='/authenticate') Sign up
    include ./includes/signInPrompt.pug 
.advertise
  div Get smarter about what matters to you.
