body {
  font-family: 'Epilogue-Light';
}

.card-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 2vh auto;
  color: rgba(10, 10, 10, 0.8);
}

@media (max-width: 800px) {
  .card-container {
    width: 90%;
  }
}

@media (max-width: 420px) {
  .card-container {
    width: 100%;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  margin: 1vw;
  border: 1px solid #eee;
  transition: 0.4s;
  cursor: pointer;
}

.card:hover {
  transition: 0.4s;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px #ccc;
}

@media (max-width: 420px) {
  .card {
    padding: 8px;
    margin: 2px 4px;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 72%;
}

.card-image {
  display: flex;
  width: 25%;
  align-items: center;
}

.card-image img {
  color: #aaa;
  width: 100%;
}

@media (max-width: 420px) {
  .card-image img {
    height: 60%;
  }
}

.title {
  font-size: 24px;
  font-family: 'Epilogue-Medium';
}

@media (max-width: 420px) {
  .title {
    font-size: 18px;
  }
}

.content {
  color: #888;
  margin: 16px 0;
  overflow: hidden;
}

.content p {
  font-weight: 300;
  color: #888;
  word-spacing: 1.01;
  letter-spacing: 0.5;
  line-height: 1.2;
}

.author {
  letter-spacing: 0.02vw;
  font-weight: 600;
  width: fit-content;
}

.date {
  letter-spacing: 0.02vw;
  font-size: 14px;
  color: #aaa;
}

@media (max-width: 420px) {
  .content {
    margin: 4px 0;
  }
  .content p,
  .author {
    word-spacing: 1;
    line-height: 1;
    font-size: 14px;
  }
  .date {
    font-size: 12px;
  }
}
