* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
}

#editorHeader {
  width: 80%;
  margin: auto;
  padding-top: 1vh;
  display: flex;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#logo {
  padding: 5px 50px;
  width: fit-content;
  display: flex;
}

#logo > svg {
  cursor: pointer;
}

#saveConfirmation {
  display: flex;
  align-items: center;
  margin-left: 1.5vw;
  letter-spacing: 0.05vw;
  word-spacing: 1.2vw;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
.btn {
  margin: 1.5vh 1vw;
  border: 1px solid;
  height: 3.5vh;
  border-radius: 0.4em;
  padding: 0.3vw 0.6vw 0 0.6vw;
  align-content: center;
  background-color: green;
  color: white;
  cursor: pointer;
}

.inactive {
  filter: opacity(0.4);
  pointer-events: none;
}

#editor {
  width: 70%;
  margin: auto;
  padding-top: 3vh;
}

#editor > div {
  width: 85.8%;
  margin: auto;
}

#articleTitle {
  padding: 2vh 0 0 2.5vh;
  margin-bottom: 2vh;
  font-size: 3vw;
  color: rgba(10, 10, 10, 0.9);
  outline: none;
  background-origin: border-box;
}

#articleTitle:empty::before {
  color: #aaa;
  content: 'add a title to your story...';
}

#articleTitle:focus {
  border-left: 0.1vw solid #ccc;
}

#editorjs div[contenteditable='true']:empty::before {
  color: #aaa;
  content: 'write your story...';
}

#editorjs div[contenteditable='true'] {
  font-size: 1.5vw;
  line-height: 4.5vh;
  letter-spacing: 0.05vw;
  word-spacing: 0.02vw;
  color: rgba(10, 10, 10, 0.8);
}

#editorjs a {
  color: inherit;
}
