* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
}

.header {
  display: flex;
  justify-content: center;
  padding: 4px;
  height: 48px;
}
@media (max-width: 420px) {
  .header {
    height: 32px;
  }
}
.header > div {
  width: 35%;
}
@media (max-width: 420px) {
  .header {
    justify-content: space-between;
  }
}

#editorHeader {
  display: flex;
}

#logo {
  display: flex;
  align-items: center;
}

#logo svg {
  cursor: pointer;
}

#logo > div {
  justify-content: center;
  transform: scale(1.4);
  align-items: center;
  position: relative;
  margin-left: 28px;
  height: 28px;
}

@media (max-width: 420px) {
  #logo > div {
    transform: scale(1);
    width: 100%;
    margin-left: 0;
  }
}

#saveConfirmation {
  display: flex;
  margin-left: 2vw;
  align-items: center;
  letter-spacing: 0.05vw;
  word-spacing: 1.2vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.searchAndProfile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 420px) {
  .searchAndProfile {
    padding-right: 8px;
  }
}

.story-actions {
  display: flex;
  margin-right: 2vw;
}
.btn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1.5vh 0.5vw;
  font-size: calc(0.8vh + 0.7em);
  border: 1px solid green;
  color: green;
  height: 3.5vh;
  border-radius: 4px;
  padding: 0.3vw 0.8vw 0 0.8vw;
  font-weight: 600;
  align-content: center;
  cursor: pointer;
}

.profile,
.avatar {
  height: 48px;
  width: 48px;
}

.profile img {
  cursor: pointer;
  height: inherit;
  width: inherit;
  border: 1px solid #0a0a0a99;
  border-radius: 50%;
}
@media (max-width: 420px) {
  .profile {
    height: 40px;
    width: 40px;
  }
}

.profile-modal {
  background: #fff;
  margin-top: 12px;
  width: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  right: 80px;
  font-family: sans-serif;
}

.profile-modal::before {
  content: '';
  height: 14px;
  width: 14px;
  border: 1px solid #ddd;
  transform: rotate(45deg);
  background: #fff;
  margin-top: -8px;
  margin-left: 100px;
  border-right: 0;
  border-bottom: 0;
}
@media (max-width: 420px) {
  .profile-modal {
    position: absolute;
    width: 98%;
    right: 1%;
    min-height: 90%;
  }
  .profile-modal::before {
    margin-left: 90%;
  }
}

.section {
  border-bottom: 1px solid #ddd;
  padding: 4px;
  font-size: 18px;
  color: rgba(10, 10, 10, 0.8);
}

.section div {
  margin: 4px 8px;
  text-align: center;
}

.section a,
.section div {
  cursor: pointer;
  text-decoration: none;
  color: rgba(10, 10, 10, 0.6);
}

.section a:hover,
.section div:hover {
  color: rgba(10, 10, 10, 0.8);
}

#profileSection {
  pointer-events: none;
  display: flex;
  justify-content: space-evenly;
}

#profileSection .avatar img,
#profileSection .name .display_name,
#profileSection .name #username {
  pointer-events: all;
  cursor: pointer;
}

#username {
  color: #555;
  font-weight: 200;
}

#username:hover {
  text-decoration: underline;
  cursor: pointer;
}

#username::before {
  content: '@';
}

#editor {
  width: 70%;
  margin: auto;
  padding-top: 3vh;
}

#editor > div {
  width: 85.8%;
  margin: auto;
}

#articleTitle {
  padding: 2vh 0 0 2.5vh;
  margin-bottom: 2vh;
  font-size: 3vw;
  color: rgba(10, 10, 10, 0.9);
  outline: none;
  background-origin: border-box;
}

#articleTitle:empty::before {
  color: #aaa;
  content: 'add a title to your story...';
}

#articleTitle:focus {
  border-left: 0.1vw solid #ccc;
}

#editorjs div[contenteditable='true']:empty::before {
  color: #aaa;
  content: 'write your story...';
}

#editorjs div[contenteditable='true'] {
  font-size: 1.5vw;
  line-height: 4.5vh;
  letter-spacing: 0.05vw;
  word-spacing: 0.02vw;
  color: rgba(10, 10, 10, 0.8);
}

#editorjs a {
  color: inherit;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
}

.modal {
  position: relative;
  width: 40vw;
  margin: 10% auto;
  padding: 4vw;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #aaa;
}

#tagInput {
  outline: none;
  width: calc(100% - 4vw);
  margin: 1.5vh 0;
  margin-top: 0;
  padding: 1.5vh 2vw;
  border: 1px solid #ccc;
  background-color: #eee;
}

#tagInput[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 1vh;
  min-height: 5vh;
}

.tags:empty::before {
  margin-top: 1vh;
  content: 'No tags yet...';
  color: #aaa;
}
.notification {
  margin-top: 1.5vh;
  margin-bottom: 0.5vh;
  font-size: 1.7vh;
  color: #888;
}

.tagBox {
  border: 1px solid #ccc;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 1vh;
  margin: 0.5vh;
}

.tagBox:hover {
  border-color: #888;
}

.tag {
  padding: 0.5vh 1vh;
  color: #333;
}

.cross {
  padding: 0.5vh 0.7vh;
  font-size: calc(0.5vh + 0.6em);
  font-family: sans-serif;
  color: #888;
  font-weight: 100;
  cursor: pointer;
}

.cross:hover {
  color: #333;
}

.button {
  display: flex;
  justify-content: center;
}

.button .btn {
  padding: 1.5vh 1.5vw;
  height: auto;
  font-size: calc(0.8vw + 0.6em);
}

#closeBtn {
  position: absolute;
  top: -2.4vh;
  right: -2.2vh;
  background-color: red;
  border-radius: 50%;
  height: 5vh;
  width: 5vh;
  cursor: pointer;
}
#closeBtn:hover {
  transform: scale(1.1);
}
#closeBtn > img {
  height: inherit;
  width: inherit;
}

.sign-out-confirmation {
  position: fixed;
  top: 33vh;
  left: 30vw;
  width: 36vw;
  padding: 2vw;
  background-color: #fff;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 1px 0.6vw 0.4vw #bbbaba33;
}

body.blur > div {
  opacity: 0;
  pointer-events: none;
}
.sign-out-confirmation.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.msg {
  font-size: calc(1vw + 1em);
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.actions > div,
.actions > a {
  font-size: calc(0.7vw + 0.7em);
  border: 1px solid;
  margin: 1vh 1vw;
  padding: 1vh 2vw;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.actions #cancel {
  border-color: black;
}

.actions a {
  border-color: #c33;
  color: #c33;
}

.hidden {
  display: none;
}
