.signIn {
  border: 1px solid rgba(0, 128, 0, 0.6);
  color: rgba(0, 128, 0, 0.7);
  border-radius: 0.4vw;
  padding: 0.3vw 1.4vw 0.2vw 1.4vw;
  font-size: 1.5vw;
  font-weight: 600;
  cursor: pointer;
}

.signIn:hover {
  border: 1px solid green;
  color: green;
}

@media (max-width: 420px) {
  .signIn {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    padding: 2px 8px;
  }
}

.searchAndProfile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 420px) {
  .searchAndProfile {
    padding-right: 8px;
  }
}

.profile,
.avatar {
  height: 48px;
  width: 48px;
  border: 1px solid #0a0a0a99;
  border-radius: 50%;
}

.profile img {
  cursor: pointer;
  height: inherit;
  width: inherit;
  border-radius: 50%;
}
@media (max-width: 420px) {
  .profile {
    height: 40px;
    width: 40px;
  }
}

.profile-modal {
  background: #fff;
  margin-top: 12px;
  width: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  right: 80px;
  z-index: 1;
}

.profile-modal::before {
  content: '';
  height: 14px;
  width: 14px;
  border: 1px solid #ddd;
  transform: rotate(45deg);
  background: #fff;
  margin-top: -8px;
  margin-left: 100px;
  border-right: 0;
  border-bottom: 0;
}
@media (max-width: 420px) {
  .profile-modal {
    position: absolute;
    width: 98%;
    right: 1%;
    min-height: 90%;
  }
  .profile-modal::before {
    margin-left: 90%;
  }
}

.section {
  border-bottom: 1px solid #ddd;
  padding: 4px;
  font-size: 18px;
  color: rgba(10, 10, 10, 0.8);
}

.section div {
  margin: 4px 8px;
  text-align: center;
}

.section a,
.section div:not(.display_name) {
  text-decoration: none;
  color: rgba(10, 10, 10, 0.6);
  cursor: pointer;
}

.display_name {
  color: rgba(10, 10, 10, 0.8);
  font-weight: 600;
}

.section a:hover,
.section div:not(.display_name):hover {
  color: rgba(10, 10, 10, 0.8);
}

#profileSection {
  display: flex;
  justify-content: space-evenly;
  pointer-events: none;
}

#profileSection .avatar img,
#profileSection .name .display_name,
#profileSection .name #username {
  pointer-events: all;
  cursor: pointer;
}

#username {
  color: #555;
  font-weight: 200;
}

#username:hover {
  text-decoration: underline;
  cursor: pointer;
}

#username::before {
  content: '@';
}

.sign-out-confirmation {
  position: fixed;
  top: 33vh;
  left: 30vw;
  width: 36vw;
  padding: 2vw;
  background-color: #fff;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 1px 0.6vw 0.4vw #bbbaba33;
  font-family: 'Epilogue-Medium';
}

body.blur > div {
  opacity: 0;
  pointer-events: none;
}
.sign-out-confirmation.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.msg {
  font-size: calc(1vw + 1em);
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.actions > div,
.actions > a {
  font-size: calc(0.7vw + 0.7em);
  border: 1px solid;
  margin: 1vh 1vw;
  padding: 1vh 2vw;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.actions #cancel {
  border: 1px solid #333;
}

.actions a {
  border: 1px solid #c33;
  color: #c33;
}

.actions div:hover,
.actions a:hover {
  transform: scale(1.05);
}

.hidden {
  display: none;
}
