.header {
  border-bottom: 1px solid #fff;
  box-shadow: 0 5px 2px #efefef;
  display: flex;
  justify-content: center;
  padding: 4px;
  height: 48px;
}
@media (max-width: 420px) {
  .header {
    height: 32px;
  }
}
.header > div {
  width: 35%;
}
@media (max-width: 420px) {
  .header {
    justify-content: space-between;
  }
}

#logo {
  display: flex;
  align-items: center;
}

#logo svg {
  cursor: pointer;
}

#logo > div {
  justify-content: center;
  transform: scale(1.4);
  width: 132px;
  align-items: center;
  position: relative;
  margin-left: 28px;
  height: 28px;
}

@media (max-width: 420px) {
  #logo > div {
    transform: scale(1);
    width: 100%;
    margin-left: 0;
  }
}

.searchAndProfile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 420px) {
  .searchAndProfile {
    padding-right: 8px;
  }
}

.profile,
.avatar {
  height: 48px;
  width: 48px;
}

.profile img {
  cursor: pointer;
  height: inherit;
  width: inherit;
  border-radius: 50%;
}
@media (max-width: 420px) {
  .profile {
    height: 40px;
    width: 40px;
  }
}

.profile-modal {
  background: #fff;
  margin-top: 12px;
  width: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  right: 80px;
  font-family: sans-serif;
}

.profile-modal::before {
  content: '';
  height: 14px;
  width: 14px;
  border: 1px solid #ddd;
  transform: rotate(45deg);
  background: #fff;
  margin-top: -8px;
  margin-left: 100px;
  border-right: 0;
  border-bottom: 0;
}
@media (max-width: 420px) {
  .profile-modal {
    position: absolute;
    width: 98%;
    right: 1%;
    min-height: 90%;
  }
  .profile-modal::before {
    margin-left: 90%;
  }
}
.hidden {
  display: none;
}

.section {
  border-bottom: 1px solid #ddd;
  padding: 4px;
  font-size: 18px;
  color: rgba(10, 10, 10, 0.8);
}

.section div {
  margin: 4px 8px;
  text-align: center;
}

.section a {
  text-decoration: none;
  color: rgba(10, 10, 10, 0.6);
}

.section a:hover {
  color: rgba(10, 10, 10, 0.8);
}

#profile-section {
  display: flex;
  justify-content: space-evenly;
}

#username {
  color: #555;
  font-weight: 200;
}

#username:hover {
  text-decoration: underline;
  cursor: pointer;
}

#username::before {
  content: '@';
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(117, 117, 121, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(117, 117, 121, 0.8);
}
