body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  border-bottom: 1px solid #fff;
  box-shadow: 0 5px 2px #efefef;
  display: flex;
  justify-content: center;
  padding: 4px;
  height: 48px;
}

@media (max-width: 420px) {
  .header {
    height: 32px;
  }
}

.header > div {
  width: 35%;
}

@media (max-width: 420px) {
  .header {
    justify-content: space-between;
  }
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 48px;
}
@media (max-width: 420px) {
  .links {
    margin: 2px;
    height: 28px;
  }
}

.signIn {
  border: 1px solid rgba(0, 128, 0, 0.6);
  color: rgba(0, 128, 0, 0.7);
  border-radius: 0.4vw;
  padding: 0.1vw 1.4vw 0.4vw;
  font-size: 1.5vw;
  font-weight: 400;
  cursor: pointer;
  margin-left: 2vh;
}

.signIn:hover {
  border: 1px solid green;
  color: green;
}

@media (max-width: 420px) {
  .signIn {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    padding: 2px 8px;
  }
}

.advertise {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertise div {
  font-size: 48px;
  font-weight: 600;
  text-align: justify;
  padding: 20px;
  text-align: center;
}
@media (max-width: 420px) {
  .advertise div {
    font-size: 32px;
  }
}
