body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  border-bottom: 1px solid #fff;
  box-shadow: 0 5px 2px #efefef;
  display: flex;
  justify-content: center;
  padding: 4px;
  height: 48px;
}
@media (max-width: 420px) {
  .header {
    height: 32px;
  }
}
.header > div {
  width: 35%;
}
@media (max-width: 420px) {
  .header {
    justify-content: space-between;
  }
}

#logo {
  display: flex;
  align-items: center;
}

#logo > div {
  justify-content: center;
  transform: scale(1.4);
  width: 132px;
  align-items: center;
  position: relative;
  margin-left: 28px;
  height: 28px;
}

@media (max-width: 420px) {
  #logo > div {
    transform: scale(1);
    width: 100%;
    margin-left: 0;
  }
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 48px;
}
@media (max-width: 420px) {
  .links {
    margin: 2px;
    height: 28px;
  }
}

.signIn {
  border: 1px solid rgba(0, 128, 0, 0.6);
  color: rgba(0, 128, 0, 0.7);
  border-radius: 0.4vw;
  padding: 0.1vw 1.4vw 0.4vw;
  font-size: 1.5vw;
  font-weight: 400;
  cursor: pointer;
  margin-left: 2vh;
}

.signIn:hover {
  border: 1px solid green;
  color: green;
}

@media (max-width: 420px) {
  .signIn {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    padding: 2px 8px;
  }
}

#backCover {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  height: 99%;
  width: 100%;
  right: 0;
  top: 0;
}

#signInPopup {
  box-shadow: 0 1px 0.6vw 0.4vw rgba(187, 186, 186, 0.2);
  background-color: white;
  padding: 0.5vw;
  position: absolute;
  width: 30%;
  height: 60%;
  top: 23.5%;
  right: 35%;
  text-align: center;
}

#closeBtn {
  float: right;
}

#closeIcon {
  font-size: 1.7vw;
  font-weight: 100;
  opacity: 0.5;
  cursor: pointer;
}

#closeIcon:hover {
  opacity: 1;
}

#signInInfo {
  height: 50%;
  margin-top: 8.5vh;
  padding-top: 3vh;
  font-size: 2.2vw;
  font-weight: 600;
}

#signInBtn {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.4vw;
  width: 55%;
  margin: 11vh auto;
  padding: 1vw;
  font-weight: 100;
  font-size: 1.8vw;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

#signInBtn:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#signUpSuggestion {
  font-size: 1.8vw;
  font-weight: 100;
  margin-top: 4vh;
}

#signUpSuggestion > a {
  font-weight: 600;
  color: green;
}

.hidden-cover {
  display: none;
}

.advertise {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertise div {
  font-size: 48px;
  font-weight: 600;
  text-align: justify;
  padding: 20px;
  text-align: center;
}
@media (max-width: 420px) {
  .advertise div {
    font-size: 32px;
  }
}
