body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
  color: rgba(10, 10, 10, 0.8);
  width: 50%;
  margin: auto;
  margin-top: 10vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-div {
  display: flex;
  height: 19vh;
}

.info {
  width: 70%;
}

#name {
  font-size: 4.7vh;
  width: fit-content;
  font-weight: 500;
  padding-left: 3vh;
}

.profile-icon img {
  height: 20vh;
  width: 11vw;
  border-radius: 50%;
}

.optionBar {
  display: flex;
  height: 5vh;
  margin-top: 2vh;
  border-bottom: 1px solid #aaa;
}

.optionBar div {
  padding: 1vh;
  font-family: sans-serif;
  font-size: 2.5vh;
  font-weight: 200;
  color: rgba(53, 48, 48, 0.8);
  cursor: pointer;
}

.optionBar div:hover {
  color: rgba(53, 48, 48, 1);
}

.optionBar div {
  border-bottom: 1px solid black;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: rgba(10, 10, 10, 0.8);
}
@media (max-width: 800px) {
  .card-container {
    width: 90%;
  }
}
@media (max-width: 420px) {
  .card-container {
    width: 100%;
  }
}

.card {
  padding: 1.5vw;
  margin: 1vw;
  border: 1px solid #eee;
  transition: 0.4s;
  cursor: pointer;
}
.card:hover {
  transition: 0.4s;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px #ccc;
}
@media (max-width: 420px) {
  .card {
    padding: 8px;
    margin: 2px 4px;
  }
}

.author-profile-div {
  height: 5vh;
  width: 100%;
  display: flex;
}

.author-profile-icon {
  height: 6vh;
  width: 3vw;
}

.author-profile-icon img {
  height: inherit;
  width: inherit;
  border-radius: 50%;
}

.author-info {
  padding-left: 2vh;
  margin-top: 0.5vh;
}

#author-name {
  font-size: 2vh;
  color: black;
}

.story-date {
  color: #888;
  margin-top: 0.8vh;
  font-size: 1.5vh;
}

#coverImage {
  height: 20vh;
  margin: 2.5vh 0;
}

#coverImage img {
  object-fit: cover;
  height: inherit;
  width: 100%;
}

.story-title {
  font-size: 3vh;
  font-weight: 500;
}

.content {
  font-size: 2vh;
  color: rgb(99, 95, 95);
  font-weight: 300;
  word-spacing: 1.01;
  letter-spacing: 0.5;
  line-height: 1.2;
}
@media (max-width: 420px) {
  .story-title {
    font-size: 18px;
  }
}
