body {
  font-family: 'Epilogue-Medium';
}

.container {
  width: 50%;
  margin: auto;
  margin-top: 6vh;
}

.profile-div {
  padding: 1vh 0;
  justify-content: space-between;
}

.info {
  width: 75%;
}

#name {
  font-size: calc(1.2vw + 1em);
  width: fit-content;
  font-weight: 600;
}
.bio {
  margin-top: 2vh;
  font-size: calc(0.5vw + 0.5em);
  color: #aaa;
  font-weight: 300;
  letter-spacing: 0.1vh;
  padding: 0 2vh;
}

.profile-icon {
  align-items: center;
  height: 20vh;
  width: 20vh;
}

.optionBar {
  display: flex;
  margin: 2vh 0;
  border-bottom: 1px solid #aaa;
}

.optionBar div:hover {
  color: rgba(53, 48, 48, 1);
}

.optionBar div {
  border-bottom: 1px solid black;
}

.card-container {
  flex-direction: column;
  margin: 0 auto;
  color: rgba(10, 10, 10, 0.8);
}

.card {
  padding: 1.5vw;
  margin: 2vh 0;
  border: 1px solid #eee;
  transition: 0.4s;
  cursor: pointer;
}

.card:hover {
  transition: 0.4s;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px #ccc;
}

.author-profile-icon {
  height: calc(3vw + 1em);
  width: calc(3vw + 1em);
}

.author-info {
  padding-left: 2vh;
  margin-top: 1.4vh;
}

#author-name {
  font-size: calc(0.8vw + 0.5em);
  letter-spacing: 0.1vh;
  color: #333;
}

.story-date {
  margin-top: 0.4vh;
  color: #888;
  font-size: calc(0.4vw + 0.6em);
}

.column {
  margin-bottom: 2vh;
}

#coverImage {
  height: 20vh;
  margin: 2.5vh 0;
}

#coverImage img {
  object-fit: cover;
  width: 100%;
}

.story-title {
  margin-top: 1vh;
  font-size: calc(0.8vw + 0.8em);
  letter-spacing: 0.04vh;
  margin-bottom: 1vh;
}

.content {
  font-family: 'Epilogue-Light';
  font-size: calc(0.7vw + 0.5em);
  font-weight: 600;
  color: #888;
  letter-spacing: 0.16vh;
  line-height: 3.2vh;
}
